.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}

.form button:active {
  animation: bump 300ms ease-out;
}


@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
/*
.form button:after {
  content: "";
  background: #ee9090;
  display: block;
  position: absolute;

 

  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;

  opacity: 0;
  transition: all 0.8s
}

.form button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}*/